## Climate Change Portfolio Assignment

Part 2 - Wrangle Data for Personal Portfolio Site Location - Lake Superior, Minnesota / Grand Marais Weather Station on shoreline as proxy for on lake weather conditions.

In [13]:
# Import libraries
import earthpy # Manage local data
import pandas as pd #Work with tabular data

In [14]:
# Restore variables from downloading data
%store -r grand_marais_raw_climate_df
%store -r grand_marais_ncei_url

In [15]:
# Get information on raw data frame
grand_marais_raw_climate_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35921 entries, 1920-03-01 to 2020-12-31
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  35921 non-null  object
 1   TOBS     34283 non-null  float64
dtypes: float64(1), object(1)
memory usage: 841.9+ KB

In [16]:
# Check that data was imported into a pandas DataFrame
type(grand_marais_raw_climate_df)

pandas.core.frame.DataFrame

In [17]:
# Retrieve temperature column only
grand_marais_climate_df = grand_marais_raw_climate_df[["TOBS"]]

# Call data frame with only temp
grand_marais_climate_df

            TOBS
DATE
1920-03-01   NaN
1920-03-02  16.0
1920-03-03  25.0
1920-03-04  10.0
1920-03-05  12.0
...          ...
2020-12-27  17.0
2020-12-28  15.0
2020-12-29   2.0
2020-12-30  23.0
2020-12-31  10.0

[35921 rows x 1 columns]

In [18]:
# Store variables 
%store grand_marais_climate_df grand_marais_raw_climate_df

Stored 'grand_marais_climate_df' (DataFrame)
Stored 'grand_marais_raw_climate_df' (DataFrame)